// Fonts 
$font-main: 'Raleway', sans-serif; 
$font-accent: 'Playfair Display', serif;
$font-secoddary: 'Roboto', sans-serif;

// Colors
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer: #2D343C;
$placeholderColor: #BEBEBE;

//Media
$tablet: 999px;