@media screen and (min-width:1186px) {
    #heroTitle .word{
        transform: translateX(-115px);
        opacity: 0;
        transition: transform 1s opacity 1.5s;
    }
    
    #heroDescription .line {
        transform:translateY(90px);
        opacity: 0;
        transition: transform 1s opacity 1s;
    }
}


