@font-face {
  font-family: "PhilosopherRegular";
  src: url("../fonts/Philosopher-Regular.ttf");
}
@font-face {
  font-family: "PhilosopherBold";
  src: url("../fonts/Philosopher-Regular.ttf");
}
:root {
  --font-main: "PhilosopherRegular", sans-serif;
  --font-bold: "PhilosopherBold", sans-serif;
  --color: red;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  background-color: #260C65;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}

section {
  position: relative;
  overflow: visible;
}
.circle {
  position: absolute;
  max-width: 1424px;
  max-height: 1416px;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: -250px;
  right: -400px;
}
@media screen and (max-width: 1450px) {
  .circle {
    right: -45%;
  }
}

.planets {
  position: absolute;
  display: block;
  max-width: 1024px;
  top: 560px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  z-index: 1;
  right: 100px;
}
@media screen and (max-width: 1450px) {
  .planets {
    max-width: 100%;
    right: -37%;
    top: 570px;
  }
}
.planets svg {
  -o-object-fit: contain;
     object-fit: contain;
}

.circlePlanets {
  display: none;
}
@media screen and (max-width: 768px) {
  .circlePlanets {
    display: none !important;
  }
}

@media screen and (max-width: 1185px) {
  .planets {
    display: none;
  }
  .circle {
    display: none;
  }
  .circlePlanets {
    display: block;
    position: absolute;
    top: -30%;
    right: -420px;
    max-width: 2200px;
    max-height: 2200px;
    width: 100%;
    height: auto;
    z-index: 3;
    min-width: 818px;
  }
  .circlePlanets img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.open {
  display: flex !important;
  z-index: 99;
}

.burger__wrapper {
  display: none;
}

.burger {
  display: none;
  position: relative;
  z-index: 99;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger.active {
  background: #1e0645;
}

.burger__wrapper:has(.burger.active) {
  background: #1e0645;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #faf6f2;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #faf6f2;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .burger__wrapper {
    padding: 20px;
    height: 100%;
    display: block;
    background: transparent;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 179px;
    height: 152px;
    top: 58px;
    bottom: 0;
    right: 0;
    z-index: 99;
    overflow-y: auto;
    padding: 24px 33px 24px 24px;
    box-shadow: 2px 24px 30px 0 rgba(32, 5, 78, 0.29);
    background: #1e0645;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
}
section:has(header)::before {
  position: absolute;
  content: "";
  background: url("../images/header/bg_left.svg");
  width: 486px;
  height: 1565px;
  left: 0;
  top: 0;
}
@media screen and (max-width: 991px) {
  section:has(header)::before {
    width: 411px;
    z-index: 2;
  }
}
section:has(header)::after {
  position: absolute;
  content: "";
  background: url("../images/header/bg_right.svg");
  width: 630px;
  height: 1295px;
  right: 0;
  top: 0;
}
@media screen and (max-width: 991px) {
  section:has(header)::after {
    width: 319px;
    height: 1007px;
    z-index: 2;
  }
}
@media screen and (max-width: 768px) {
  section:has(header)::after {
    width: 133px;
    height: 886px;
  }
}

header {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1450px) {
  header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 991px) {
  header {
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: auto;
    z-index: 99;
    margin-top: 0;
    padding: 0 0 0 25px;
  }
}
header .logo {
  display: flex;
  gap: 25px;
  align-items: end;
}
@media screen and (max-width: 991px) {
  header .logo {
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  header .logo {
    flex-grow: 1;
  }
}
header .logo__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: relative;
}
header .logo__text svg {
  z-index: 2;
}
header .logo__text svg:last-child {
  margin-bottom: 6px;
}
header .logo__text::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 16px;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/header/Ellipse1.svg");
}
header .logo__text::after {
  z-index: 1;
  position: absolute;
  content: "";
  top: 15px;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/header/Ellipse2.svg");
}
header nav {
  display: flex;
  z-index: 5;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 76px;
}
@media screen and (max-width: 991px) {
  header nav ul {
    gap: 16px;
  }
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  header nav ul li a {
    font-size: 14px;
  }
}
header button {
  background: url("../images/header/button.svg");
  width: 196px;
  height: 54px;
  border: none;
  box-shadow: none;
  color: #fff;
  margin-right: 38px;
  z-index: 5;
}
@media screen and (max-width: 1450px) {
  header button {
    margin-right: none;
  }
}
@media screen and (max-width: 991px) {
  header button {
    width: 149px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  header button {
    margin-right: auto;
  }
}

section:has(.hero) {
  z-index: 10;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: relative;
}
section:has(.hero)::before {
  position: absolute;
  content: "";
  top: 0%;
  right: 0%;
  background: url("../images/hero/bg_iphone.svg");
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  section:has(.hero)::before {
    display: none;
  }
}

.hero {
  margin-top: 162px;
  padding: 0 0 0 20px;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  max-height: 673px;
  position: relative;
}
@media screen and (max-width: 1450px) {
  .hero {
    padding: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}
.hero__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .hero__description {
    margin-top: -105px;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .hero__description {
    align-items: center;
  }
}
.hero__description::before {
  position: absolute;
  content: "";
  top: -156px;
  left: 10px;
  background: url("../../images/hero/bg_stars.svg");
  width: 526px;
  height: 748px;
}
@media screen and (max-width: 991px) {
  .hero__description::before {
    width: 320px;
    height: 466px;
    left: 20%;
    transform: translate(-20%, 0%);
  }
}
.hero__description h1 {
  font-size: 68px;
  line-height: 105%;
  max-width: 733px;
  width: 100%;
  z-index: 3;
}
@media screen and (max-width: 1280px) {
  .hero__description h1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 768px) {
  .hero__description h1 {
    text-align: center;
  }
}
.hero__description h1 span {
  color: #cdaaf5;
}
.hero__description p {
  font-family: var(--font-bold);
  font-weight: 700;
  max-width: 449px;
  width: 100%;
  font-size: 20px;
  line-height: 140%;
  z-index: 3;
}
@media screen and (max-width: 1280px) {
  .hero__description p {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .hero__description p {
    max-width: 330px;
  }
}
@media screen and (max-width: 768px) {
  .hero__description p {
    max-width: 100%;
    text-align: center;
  }
}
.hero__description p span {
  color: #cdaaf5;
}
.hero__description-btn {
  position: relative;
  margin-top: 40px;
  z-index: 3;
  width: 196px;
  height: 54px;
}
.hero__description-btn button {
  border: none;
  box-shadow: none;
  background: url("../images/hero/profile_action_button.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  z-index: 2;
}
.hero__description-btn::before {
  position: absolute;
  content: "";
  bottom: -50%;
  left: -50%;
  width: 163px;
  height: 130px;
  transform: translate(30%, 10%);
  background: url("../images/hero/btn_before.png");
  background-repeat: no-repeat;
  z-index: 0;
}
.hero__description-apps {
  display: flex;
  gap: 17px;
  margin-top: 70px;
  z-index: 3;
}
@media screen and (max-width: 1185px) {
  .hero__description-apps {
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .hero__description-apps {
    flex-direction: row;
  }
}
.hero__description-apps .app-item {
  width: 242px;
  height: 82px;
  z-index: 3;
}
.hero__description-apps .app-item img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1185px) {
  .hero__description-apps .app-item {
    width: 196px;
    height: 60px;
  }
}
.hero__items {
  width: auto;
  height: 100%;
  max-height: 823px;
  display: block;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero__items {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
  }
}
.hero__items-basic {
  z-index: 2;
  max-height: 773px;
  height: 100%;
  opacity: 1;
  position: relative;
  max-width: 435px;
  width: 100%;
  transform: translate(-110px, -140px);
}
@media screen and (max-width: 1450px) {
  .hero__items-basic {
    transform: translate(0px, -140px);
    margin-right: 10%;
    max-width: 400px;
  }
}
@media screen and (max-width: 1280px) {
  .hero__items-basic {
    margin-right: -160px;
  }
}
@media screen and (max-width: 991px) {
  .hero__items-basic {
    width: 242px;
    transform: translate(-50px, -100px);
  }
}
@media screen and (max-width: 768px) {
  .hero__items-basic {
    transform: translate(0, 0);
    margin-right: 0;
    z-index: 5;
  }
}
.hero__items-basic img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotate(10deg) translate(5px, 0);
}
@media screen and (max-width: 1450px) {
  .hero__items-basic img {
    max-width: 100%;
  }
}

.first {
  z-index: 1;
  position: absolute;
  top: 30%;
  right: 30%;
  transform: translate(-30%, -30%);
}
@media screen and (max-width: 1450px) {
  .first {
    max-width: 50%;
    width: 50%;
    right: -80px;
    transform: translate(0, -30%);
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .first {
    max-width: 100%;
    transform: translate(0, 0);
    top: 20%;
    right: -100px;
  }
}
@media screen and (max-width: 768px) {
  .first {
    top: 25%;
    left: 50%;
    transform: translate(-25%, 0);
    max-width: 100%;
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 1450px) {
  .first-img {
    max-width: 35%;
    width: 380px;
  }
}
@media screen and (max-width: 991px) {
  .first-img {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .first-img {
    max-width: 100%;
  }
}
.first-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1450px) {
  .first-img img {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .first-img img {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .first-img img {
    width: 148px;
    height: 199px;
  }
}

.second {
  position: absolute;
  z-index: 2;
  bottom: 13%;
  right: 100px;
}
@media screen and (max-width: 1450px) {
  .second {
    right: -300px;
    max-width: 50%;
    width: 43%;
    height: auto;
  }
}
@media screen and (max-width: 1280px) {
  .second {
    right: -23%;
    bottom: 20%;
  }
}
@media screen and (max-width: 991px) {
  .second {
    max-width: 100%;
    transform: translate(0, 0);
    bottom: 20%;
    right: -200px;
  }
}
@media screen and (max-width: 768px) {
  .second {
    top: 35%;
    left: 50%;
    transform: translate(2%, 0);
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1450px) {
  .second-img {
    max-width: 60%;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .second-img {
    max-width: 230px;
  }
}
.second-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1450px) {
  .second-img img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .second-img img {
    width: 209px;
    height: 259px;
  }
}

.third {
  position: absolute;
  z-index: 1;
  top: 24%;
  right: 70px;
  transform: translate(0%, 0%);
  max-width: 220px;
  max-height: 340px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1450px) {
  .third {
    right: -409px;
    max-width: 60%;
    width: 43%;
    height: auto;
  }
}
@media screen and (max-width: 1280px) {
  .third {
    right: -33%;
    top: 18%;
  }
}
@media screen and (max-width: 991px) {
  .third {
    max-width: 100%;
    transform: translate(0, 0);
    top: 24%;
    right: -300px;
  }
}
@media screen and (max-width: 768px) {
  .third {
    top: 23%;
    left: 67%;
    transform: translate(0%, 0);
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1450px) {
  .third-img {
    max-width: 42%;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .third-img {
    max-width: 38%;
  }
}
.third-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1450px) {
  .third-img img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .third-img img {
    width: 148px;
    height: 199px;
  }
}

@media screen and (max-width: 690px) {
  .first {
    left: 47%;
  }
}
@media screen and (max-width: 642px) {
  .first {
    left: 44%;
  }
}
@media screen and (max-width: 578px) {
  .first {
    left: 40%;
  }
}
@media screen and (max-width: 524px) {
  .first {
    left: 36%;
  }
}
@media screen and (max-width: 490px) {
  .first {
    left: 30%;
  }
  .third {
    left: 74% !important;
  }
  .app-item {
    width: 158px;
    height: 54px;
  }
  .hero__description-apps {
    flex-direction: column;
  }
  section:has(header)::before {
    width: 197px;
    height: 1137px;
  }
}
@media screen and (max-width: 427px) {
  .first {
    left: 30%;
  }
  .third {
    left: 65% !important;
  }
}
@media screen and (max-width: 391px) {
  .first {
    left: 18%;
  }
  .third {
    left: 75% !important;
  }
}
@media screen and (max-width: 360px) {
  .first {
    left: 12%;
  }
}
@media screen and (min-width: 1186px) {
  #heroTitle .word {
    transform: translateX(-115px);
    opacity: 0;
    transition: transform 1s opacity 1.5s;
  }
  #heroDescription .line {
    transform: translateY(90px);
    opacity: 0;
    transition: transform 1s opacity 1s;
  }
}/*# sourceMappingURL=main.css.map */