.appartments {
    position: relative;


    &::before {
        content: "III";
        right: calc(50% + 555px);
        transform: translate(50%, 0);
        
        @include decornumber;
    }

}

.appartments__title {
    margin-bottom: 88px;

    @include mediaTablet {
        margin-bottom: 60px;
    }
}



.appartments__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 60px 40px;
        text-align: center;
    }
}

// @media (max-width:480px) {
//     .appartments__cards {
//         grid-template-columns: repeat(1, 1fr);
//     }
// }

