section:has(.hero) {
    z-index: 10;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: -0%;
        // transform: translate(-7%, 5%);
        right: 0%;
        background: url('../images/hero/bg_iphone.svg');
        background-repeat: no-repeat;
        width: 50%;
        height: 100%;

        @include mobile {
            display: none;
        }
    }
}

.hero {
    margin-top: 162px;
    padding: 0 0 0 20px ;
    color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    // max-width: 657px;
    max-height: 673px;
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-start;  

    
    @include desktops {
        padding: 0 40px;
        // margin: 162px 0 20px;
    }

    @include mobile {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    

    &__description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        z-index: 1;
        @include tablet {
            margin-top: -105px;
            gap: 15px;
        }

        @include mobile {
            align-items: center;
        }

        &::before {
            position: absolute;
            content: '';
            top: -156px;
            left: 10px;
            background: url('../../images/hero/bg_stars.svg');
            width: 526px;
            height: 748px;
            // opacity: 0.26;

            @include tablet {
                width: 320px;
                height: 466px;
                left: 20%;
                transform: translate(-20%,0%);
            }
        }

        h1 {
            font-size: 68px;
            line-height: 105%;
            max-width: 733px;
            width: 100%;
            z-index: 3;
            // white-space: normal;

            @include desktopxs {
                font-size: 44px;
            }

            @include mobile {
                text-align: center;
            }

            span {
            color: #cdaaf5;
            }

        }


        p {
            font-family: var(--font-bold);
            font-weight: 700;
            max-width: 449px;
            width: 100%;
            font-size: 20px;
            line-height: 140%;            
            z-index: 3;

            @include desktopxs {
                font-size: 16px;
            }
            @include tablet {
                max-width: 330px;
            }
            @include mobile {
                max-width: 100%;
                text-align: center;

            }

            span{
            color: #cdaaf5;
            }
        }

        &-btn{
            position: relative;
            margin-top: 40px;

            z-index: 3;

            width: 196px;
            height: 54px;  
            
            button {
                border: none;
                box-shadow: none;
                background: url('../images/hero/profile_action_button.svg');
                width: 100%;
                height: 100%;       
                background-repeat: no-repeat;
                color: #fff;
                position: relative;
                z-index: 2;  
            }

            &::before {
                position: absolute;
                content: '';
                bottom: -50%;
                left: -50%;
                width: 163px;
                height: 130px;
                transform: translate(30%,10%);
                background: url('../images/hero/btn_before.png');
                background-repeat: no-repeat;
                z-index: 0;
            }
        }
        
        &-apps{
            display: flex;
            gap: 17px;
            margin-top: 70px;
            z-index: 3;

            @include deskTablet {
                flex-direction: column;
                gap: 25px;
                margin-top: 50px;
            }

            @include mobile {
                flex-direction: row;
            }

            .app-item {
                width: 242px;
                height: 82px;
                z-index: 3;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: auto;
                }

                @include deskTablet {
                    width: 196px;
                    height: 60px;   
                }

                
            }
        }
    }

    &__items {
        
        width: auto;
        height: 100%;
        max-height: 823px;
        // top: 0;
        display: block;
        // justify-self: flex-start;
        position: relative;

        @include mobile {
            margin: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            flex-direction: column;
        }

       

        // &-basic {
        //     z-index: 2;
        //     // max-height: 673px;
        //     border: 1px solid #fff;
        //     position: relative;
        //     // max-width: 305px;
        //     // width: 100%;
            
            

        //     img {
        //         width: 100%;
        //         height: 100%;
        //         object-fit: contain;
        //         transform: rotate(10deg) translate(5px, -140px);
                
        //     }
        // }


        &-basic {
            z-index: 2;
            max-height: 773px;
            height: 100%;
            opacity: 1;
            position: relative;
            max-width: 435px;
            width: 100%;
            transform: translate(-110px,-140px);
            
            
            @include desktops{
                transform: translate(00px,-140px);
                margin-right: 10%;
                max-width: 400px;
                      
            }

            @include desktopxs {
                margin-right: -160px;     
            }

            @include tablet {
                // min-width: 227px;
                // max-width: 227px;
                // // height: 428px;
                // // transform: translate(-50px,-100px);
                width: 242px;
                transform: translate(-50px,-100px);              
            }

            @include mobile {
                transform: translate(0,0);
                margin-right: 0;
                z-index: 5;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                
                transform: rotate(10deg) translate(5px, 0);   
                @include desktops {
                    max-width: 100%;
                }      
            }
        }
        

        
    }
}


.first {
    z-index: 1;
    position: absolute;
    top: 30%;
    right: 30%;
    transform: translate(-30%,-30%);    
    @include desktops {
        max-width: 50%;
        width: 50%;
        // right: -5%;
        right: -80px;
        transform: translate(0,-30%);
        // max-height: 340px;
        height: auto;
    }

    @include tablet {
        // width: 380px;
        max-width: 100%;
        transform: translate(0,0);
        // margin-right: 170px;
        top: 20%;
        right: -100px;
    }

    @include mobile {
        top: 25%;
        left:  50%;
        transform: translate(-25%, 0);
        max-width: 100%;
        width: 100%;
        right: 0;
    }

    &-img {
        @include desktops {
        max-width: 35%;
        width: 380px;
        }

        @include tablet{
            width: 200px;
        }

        @include mobile {
            max-width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;     

            @include desktops {
                max-width: 100%;
                // max-width: 200px;
                // height: auto;
                width: 100%;
            }   

            @include tablet {
                width: 200px;
            }

            @include mobile {
                width:148px;
                height:199px;
            }
        }
    }
    
}



.second{
    position: absolute;
    z-index: 2;
    bottom: 13%;
    right: 100px;


    @include desktops {
        right: -300px;
        max-width: 50%;
        width: 43%;
        height: auto;
    }

    @include desktopxs {
        right: -23%;
        bottom: 20%;
    }

    // @include tablet {
    //     right: -26%;
    //     bottom: 30%;
    // }

    @include tablet {
        max-width: 100%;
        transform: translate(0,0);
        bottom: 20%;
        right: -200px;
    }

    @include mobile {
        top: 35%;
        left:  50%;
        transform: translate(2%, 0);
        max-width: 100%;
        width: 100%;
    }


    &-img{
        @include desktops {
            max-width: 60%;
            height: auto;  
        }

        @include tablet {
            // max-width: 50%;
            max-width: 230px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
             @include desktops {
                    max-width: 100%;
                    height: auto;
                }   

                @include mobile {
                    width:209px;
                    height:259px;
                }
        }
        
    }
    
}

.third {
    position: absolute;
    z-index: 1;
    top: 24%;
    right: 70px;
    transform:  translate(0%, 0%);
    max-width: 220px;
    max-height: 340px;
    width: 100%;
    height: 100%;


    @include desktops {
        right: -409px;
        max-width: 60%;
        width: 43%;
        height: auto;
    }

    @include desktopxs {
        right: -33%;
        top: 18%;
    }

    @include tablet {
        max-width: 100%;
        transform: translate(0,0);
        top: 24%;
        right: -300px;
    }

    @include mobile {
        top: 23%;
        left:  67%;
        transform: translate(0%, 0);
        max-width: 100%;
        width: 100%;
    }

    &-img {
        @include desktops {
            max-width: 42%;
            height: auto;  
        }

        @include tablet {
            max-width: 38%;
        }

        img {
            // width: 100%;
            // height: 100%;
            object-fit: contain;
            @include desktops {
                max-width: 100%;
                height: auto;
            }  

            @include mobile {
                width: 148px;
                height: 199px;
            }
        }
    }

    
}




@media screen and (max-width:690px) {
    .first {
        left: 47%;
    }
}

@media screen and (max-width:642px) {
    .first {
        left: 44%;
    }
}

@media screen and (max-width:578px) {
    .first {
        left: 40%;
    }
}

@media screen and (max-width:524px) {
    .first {
        left: 36%;
    }
}

@media screen and (max-width:490px) {
    .first {
        left: 30%;
    }

    .third {
        left:  74% !important;
    }

    .app-item {
            width: 158px;
            height: 54px;   
    }

    .hero__description-apps {
        flex-direction: column;
    }


    section:has(header) {
    
        &::before {
            width: 197px;
            height: 1137px; 
        }
    }
}

@media screen and (max-width:427px) {
    .first {
        left: 30%;
    }

    .third {
        left:  65% !important;
    }

    
}

@media screen and (max-width:391px) {
    .first {
        left: 18%;
    }

    .third {
        left:  75% !important;
    }
}

@media screen and (max-width:360px) {
    .first {
        left: 12%;
    }
}