/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

.no-scroll {
  overflow-y: hidden;
}

a {
  color: #fff;
  transition: 0.3s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  color: #D4C17F;
}
@media screen and (max-width: 999px) {
  .title-2 {
    font-size: 25px;
  }
}

.link-bold {
  color: #D4C17F;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("./../img/header/header-bg.jpg");
}
@media screen and (max-width: 999px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-row--mobile {
  position: fixed;
  background-color: #242B33;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 20px;
}

.nav-icon--active {
  color: red;
}

@media screen and (max-width: 999px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 999px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  color: #D4C17F;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 121px;
}
.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 999px) {
  .header__title {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header__footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 999px) {
  .header__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map:before, .info--tel:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 21px;
  height: 21px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
}
.info--map::before {
  background-image: url("./../img/header/map.svg");
}
.info--tel::before {
  background-image: url("./../img/header/phone.svg");
}
@media screen and (max-width: 999px) {
  .info {
    font-size: 14px;
  }
  .info--map, .info--tel {
    padding-left: 26px;
  }
}

.benefits {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}
.benefits__row {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media screen and (max-width: 999px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}
.benefits__item {
  text-align: center;
}
.benefits__item-img {
  margin-bottom: 53px;
}
@media screen and (max-width: 999px) {
  .benefits__item-img {
    width: 60px;
    height: 80px;
    margin-bottom: 20px;
  }
}
.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 999px) {
  .benefits__item-text {
    font-size: 16px;
  }
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.appartments {
  position: relative;
}
.appartments::before {
  content: "III";
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.appartments__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 999px) {
  .appartments__title {
    margin-bottom: 60px;
  }
}

.appartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 999px) {
  .appartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 60px 40px;
    text-align: center;
  }
}

.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: 0.3s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.3s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}
@media screen and (max-width: 999px) {
  .card__title {
    font-size: 20px;
    right: 230px;
    bottom: 30px;
  }
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url("./../img/cta/cta-bg.jpg"), #C4C4C4;
}

.cta-title {
  margin-bottom: 17px;
}

.cta__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 999px) {
  .cta__row {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 999px) {
  .cta__text {
    font-size: 14px;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}
@media screen and (max-width: 999px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  -moz-columns: #fff;
       columns: #fff;
  font-style: 14px;
  transition: background-color 0.3s ease-in;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  font-size: 13px;
  text-align: center;
  line-height: 1.23;
}
@media screen and (max-width: 999px) {
  .form__privacy--bottom {
    grid-row: 3/5;
  }
}

.form__btn {
  height: 50px;
  text-align: center;
  color: #fff;
  font-style: 16px;
  padding: 12px 12px;
  font-weight: 700;
  background-color: #D4C17F;
  transition: background-color 0.3s ease-in;
}
.form__btn:hover {
  background-color: #e5ca6e;
}

.video {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.3s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}
.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 999px) {
  .video__icon {
    width: 80px;
    height: 80px;
  }
}

.section-map {
  position: relative;
  padding: 180px 0;
}
.section-map::before {
  content: "V";
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  line-height: 1;
  top: 180px;
}
@media screen and (max-width: 999px) {
  .section-map {
    padding: 60px 0;
  }
}

.section-map__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 999px) {
  .section-map__title {
    margin-bottom: 44px;
  }
}

.map {
  height: 358px;
  background-color: #626262;
}

.feedback {
  padding-bottom: 180px;
  overflow: hidden;
}
@media screen and (max-width: 999px) {
  .feedback {
    padding-bottom: 90px;
  }
}

.feedback__title {
  margin-bottom: 38px;
}

@media screen and (max-width: 999px) {
  .form__privacy--bottom {
    grid-row: 4/5;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 999px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
}

.footer {
  background-color: #2D343C;
  padding: 72px 0 51px;
  font-style: 14px;
  letter-spacing: 0.7px;
}
@media screen and (max-width: 999px) {
  .footer {
    padding: 36px 0 25px;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 999px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 50px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  align-items: center;
}/*# sourceMappingURL=main.css.map */